.vs
Clinic Management System/.vs
Clinic Management System/bin
Clinic Management System/WeatherForecast.cs
Clinic Management System/appsettings.json
Clinic Management System/Startup.cs
Clinic Management System/Program.cs
